@use '../../styles/index.module.scss' as *;

.drop-down-label {
    position: relative;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    background-color: $background-primary;
    color: $text-buttons;
    cursor: pointer;

    @include interactive($background-secondary);

    .drop-down-list {
        position: absolute;

        @include position-align("drop-down");

        &.drop-down-column {
            flex-direction: column;
        }

        display: none;
    }

    &.drop-down-open {
        &.drop-down-top {
            border-radius: 0 0 0.5rem 0.5rem;
        }

        &.drop-down-right {
            border-radius: 0.5rem 0 0 0.5rem;
        }

        &.drop-down-bottom {
            border-radius: 0.5rem 0.5rem 0 0;
        }

        &.drop-down-left {
            border-radius: 0 0.5rem 0.5rem 0;
        }

        .drop-down-list {
            display: flex;
        }
    }
}