@use '../../styles/index.module.scss' as *;

.drop-down-container {
    position: relative;
    width: 100%;
    display: inline-block;

    .drop-down-label {
        position: absolute;
        left: 0.6rem;
        top: 50%;
        color: $text-label;
        font-size: 1rem;
        transform: translateY(-50%);
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .drop-down-select {
        width: 100%;
        padding: 10px 10px 10px 40px;
        border: 1px solid $text-select;
        border-radius: 0.5rem;
        background-color: $background-paragraph;
        font-size: 1rem;
        font-weight: 700;
        color: $text-select;
        appearance: none;
        outline: none;

        &:focus {
            border-color: $background-hover;
        }
    }

    .drop-down-select:focus+.drop-down-label,
    .drop-down-empty {
        top: 0px;
        color: $text-label;
        font-size: 0.75rem;
        font-weight: 700;
        transform: translateY(-100%);
    }

    .drop-down-option {
        color: $text-default;
    }
}