@use '../../styles/index.module.scss' as *;

.manage-users-header {
    margin-top: 30px;
    font-size: 6em;
    font-weight: 700;
}

.manage-users-filters {
    margin-bottom: 30px;

    .scroll-body {
        gap: 20px;
    }

    .column {
        flex-grow: 1;
    }
}

.view-user-button {
    padding: 10px;
    background-color: $text-label;
    color: $background-reset;
    font-weight: bold;
    border: 2px solid $background-hover;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: #c30303;
        transform: scale(1.02);
    }

    &:active {
        background-color: #5e0000;
        transform: scale(1);
    }
}

.edit-user-button {
    padding: 10px;
    background-color: $background-parchment;
    color: $text-label;
    font-weight: bold;
    border: 2px solid $text-label;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: #f2d1a1;
        transform: scale(1.1);
    }

    &:active {
        background-color: #f0c29f;
        transform: scale(1);
    }
}