@use '../../../styles/index.module.scss' as *;

.email-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: $background-parchment;
    color: $text-label;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}