@use '../../styles/index.module.scss' as *;

.create-monster-page {
    width: 100%;
    min-height: calc(100vh - 100px - 3rem);
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        text-align: center;
        font-size: 3rem;
    }

    .scroll-body form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1rem;

        .form-field-errors {
            color: $text-label;
            font-weight: 700;
        }
    }

    @include phone {
        h1 {
            font-size: 2rem;
        }

        .scroll-body form {
            grid-template-columns: 1fr;
            gap: 1rem;

            .form-field-errors {
                display: none;
            }
        }
    }
}