@use '../../styles/index.module.scss' as *;

button {
    padding: 0.6em 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $background-primary;
    color: $text-buttons;
    cursor: pointer;
}