@use '../../styles/index.module.scss' as *;

button {
    padding: 0.6rem 1.2rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: $background-primary;
    color: $text-buttons;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
}