@use '../../styles/variables' as *;

.classic-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    color: inherit;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: $primary-background;
    cursor: pointer;
}