@use '../../styles/index.module.scss' as *;

form {
    .form-field-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-field {
            position: relative;
            width: 100%;
            padding: 10px 10px 10px 40px;
            border: 1px solid $text-select;
            border-radius: 0.5rem;
            background-color: $background-paragraph;
            color: $text-select;
            font-size: 1rem;
            font-weight: 700;
            display: inline-block;
            appearance: none;
            outline: none;

            &::placeholder {
                position: absolute;
                left: 0.6rem;
                top: 50%;
                color: $text-label;
                font-size: 14px;
                font-weight: 400;
                transform: translateY(-50%);
                transition: all 0.3s ease;
                pointer-events: none;
            }

            &:focus {
                border-color: $background-hover;

                &::placeholder {
                    top: 0;
                    font-size: 12px;
                    transform: translateY(-100%);
                }
            }
        }

        .form-field-errors {
            position: absolute;
            top: 100%;
            left: 0;
            color: $background-hover;
            font-size: 0.7rem;
        }
    }

    .form-submit-tip {
        width: 100%;
    }

    button {
        width: 100%;
        border: 1px solid $text-select;
        font-weight: 700;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .form-submit-button {
        background-color: $text-label;
        color: $background-paragraph;

        &:not(:disabled) {
            &:hover {
                background-color: $text-label-hover;
                transform: scale(1.02);
            }

            &:active {
                background-color: $text-label-active;
                transform: scale(1);
            }
        }
    }

    .form-reset-button {
        background-color: $background-reset;
        color: $text-label;

        &:hover {
            background-color: #ffd493;
            transform: scale(1.02);
        }

        &:active {
            background-color: #fcb345;
            transform: scale(1);
        }
    }

    .form-drop-down-container {
        position: relative;
        width: 100%;
        display: inline-block;

        .form-drop-down-label {
            position: absolute;
            left: 0.6rem;
            top: 50%;
            color: $text-label;
            font-size: 14px;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            pointer-events: none;
        }

        .form-drop-down-select {
            width: 100%;
            padding: 10px 10px 10px 40px;
            border: 1px solid $text-select;
            border-radius: 0.5rem;
            background-color: $background-paragraph;
            color: $text-select;
            font-size: 1rem;
            font-weight: 700;
            appearance: none;
            outline: none;


            &:focus {
                border-color: $background-hover;
            }
        }

        .form-drop-down-select:focus+.form-drop-down-label,
        .form-drop-down-empty {
            top: 0;
            color: $text-label;
            font-size: 12px;
            font-weight: 700;
            transform: translateY(-100%);
        }

        .form-drop-down-option {
            color: $background-primary;
        }
    }
}