@use '../../../styles/index.module.scss' as *;

.removable-item {
    margin-right: 8px;
    margin-bottom: 5px;
    padding-left: 4px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: $background-paragraph;
    font-size: 0.75em;
    display: flex;
    align-items: center;

    .close-button {
        padding: 0 4px;
        border: none;
        background: none;
        font-size: 2em;
        cursor: pointer;
    }
}