@use '../../../styles/index.module.scss' as *;

.name-container {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;

    div {
        padding: 0.6rem;
        border-radius: 0.6rem;
        background-color: $background-parchment;
        color: $text-label;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        word-wrap: break;
    }

    @include phone {
        flex-direction: column;
    }
}