//colors
$primary-background: #1C1C1C;
$secondary-background: #333333;
$highlight-background: #5E2129;
$parchment-background: #e7d6a2e0;
$highlight-outline: #C28B3B;
$highlight: #800000;
$header-color: #F1E5D1;
$subheader-color: #FFB84D;
$text-color: #E7D1B1;