@use '../../styles/index.module.scss' as *;

.signup-page {
    margin: 50px 0;
    padding: 4rem;
    border: 1px solid $background-secondary;
    border-radius: 2rem;
    background-color: $background-primary;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
    }

    .signup-name-container {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }

    .form-field-container,
    .form-reset-button {
        margin-bottom: 0.5rem;
    }

    @include phone {
        padding: 2rem;

        .signup-name-container {
            flex-direction: column;
            gap: 0;
        }
    }
}