@use '../../../styles/index.module.scss' as *;

.right-nav {
    display: flex;
    height: 100%;

    .nav-button {
        border-radius: 0;
        background-color: $background-secondary;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $background-tertiary;
            color: $background-paragraph;

            .profile-button {
                background-color: $background-tertiary;
            }
        }

        .profile-button {
            background-color: $background-secondary;
            transition: background-color 0.2s ease-in-out;
        }

        .nav-button {
            width: 100%;
        }
    }
}