@use '../../../styles/index.module.scss' as *;

.sort-by-button {
    width: 1px;
    margin-left: 5px;
    padding: 0;
    background: none;
    color: $text-label;
    line-height: 0.9;
    font-size: 0.8rem;
    font-weight: 700;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }
}