@use '../../styles/variables' as *;

.scrolling-container {
    max-height: 200px;
    padding: 10px;
    border: 1px solid $highlight-outline;
    border-radius: 8px;
    overflow-y: auto;
    background-color: $parchment-background;

    .scrolling-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    .empty-container {
        color: rgb(138, 136, 108);
    }
}