@use '../../styles/index.module.scss' as *;

.monster-statblock {
    margin-top: 100px;

    .scroll-body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .statblock-column {

            .stat-title {
                margin-right: 5px;
                font-size: 1em;
                font-weight: 700;
                color: $text-label;
            }

            .stat-details {
                color: $text-label;
            }
        }
    }
}