@use '../../../styles/index.module.scss' as *;

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
    cursor: default;

    th {
        border: none;
        color: $text-label;

        .header-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    tbody tr {
        background-color: $background-paragraph;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease, background-color 0.5s ease;

        &:hover {
            background-color: $text-buttons;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 15px rgba(0, 0, 0, 0.2);
        }

        td {
            height: 50px;
            padding: 0.6rem 1rem;
            border-top: 1px solid #00000025;
            border-bottom: 1px solid #00000025;
        }

        td:first-child {
            border-left: 1px solid #00000025;
        }

        td:last-child {
            border-right: 1px solid #00000025;
        }
    }
}