@use '../../styles/index.module.scss' as *;

.edit-user-page {
    width: 100%;
    height: calc(100vh - 100px - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    .edit-user-container {
        padding: 100px;
        border: 1px solid $background-secondary;
        border-radius: 2rem;
        background-color: $background-primary;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    @include phone {
        .edit-user-container {
            padding: 50px;
        }
    }
}