@use '../../../styles/index.module.scss' as *;

.delete-monster-button {
    width: 100%;
    margin-top: 2rem;
    background-color: $text-label;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: $text-label-hover;
        transform: scale(1.02);
    }

    &:active {
        background-color: $text-label-active;
        transform: scale(1);
    }
}