@use '../../../styles/index.module.scss' as *;

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 9.5rem;
    background-color: $background-primary;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 0 4rem;
    }

    @include phone {
        padding: 0 2rem;
    }
}