@use "sass:map";

$breakpoints: (
    "desktop": 1800px,
    "laptop": 1200px,
    "tablet": 900px,
    "mobile": 600px,
);

@mixin breakpoint($size) {
    $breakpoint: map.get($breakpoints, $size);

    @if $breakpoint {
        @media (max-width: $breakpoint) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint '#{$size}' not found";
    }
}

:export {
    desktop: map.get($breakpoints, "desktop");
    laptop: map.get($breakpoints, "laptop");
    tablet: map.get($breakpoints, "tablet");
    mobile: map.get($breakpoints, "mobile");
}