@use '../../styles/index.module.scss' as *;

.search-bar {
    width: 100%;
    height: 2.5rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid $text-select;
    border-radius: 0.5rem;
    background-color: $background-paragraph;
    color: $text-select;
    font-weight: 700;
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &:focus {
        border-color: $background-hover;
    }
}