@use '../../styles/index.module.scss' as *;

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid $text-select;
    border-radius: 4px;
    background-color: $background-paragraph;
    appearance: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    color: $text-select;

    &:focus {
        border-color: $background-hover;
    }
}