@use './styles/index.module.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
  cursor: default;
}

body {
  overflow-x: hidden;
  color: $text-default;
  background-color: $background-paragraph;

  h1,
  h2,
  h3 {
    color: $text-label;
  }

  canvas {
    display: block;
  }
}