@use '../../styles/variables' as *;

.codex-header {
    margin-top: 30px;
    font-size: 6em;
    font-weight: 700;
}

.filters {
    margin-bottom: 30px;

    .filters-column {
        width: 22%;

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    }

    .advanced-filter-button {
        width: 100%;
        padding: 10px;
        background-color: $highlight;
        color: $header-color;
        font-weight: bold;
        border: 1px solid $highlight-outline;
        border-radius: 8px;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
            background-color: #c30303;
            transform: scale(1.02);
        }

        &:active {
            background-color: #5e0000;
            transform: scale(1);
        }
    }
}


.display-scroll {
    margin-bottom: 30px;
}

.view-more-button {
    padding: 10px;
    background-color: $parchment-background;
    color: $highlight;
    font-weight: bold;
    border: 2px solid $highlight;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: #f2d1a1;
        transform: scale(1.1);
    }

    &:active {
        background-color: #f0c29f;
        transform: scale(1);
    }
}