@use '../../styles/index.module.scss' as *;

.error-page {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-header {
        font-size: 6rem;
        font-weight: 700;
        text-align: center;
    }

    .error-subheader {
        margin: 50px 0;
        padding: 30px;
        border-radius: 20px;
        background-color: $background-primary;
        color: $text-label;
        font-size: 2em;
        font-weight: 400;
        text-align: center;
    }

    .to-home-error-button {
        font-weight: 700;
        padding: 20px;
    }

    @include tablet {
        .error-header {
            font-size: 4rem;
        }

        .error-subheader {
            font-size: 1.5rem;
        }
    }

    @include phone {
        .error-header {
            font-size: 2rem;
        }

        .error-subheader {
            margin: 25px 0;
            padding: 15px;
            font-size: 1rem;
        }
    }
}