@use '../../styles/variables' as *;

.error-header {
    margin-top: 60px;
    font-size: 6em;
    font-weight: 700;
}

.error-subheader {
    margin: 30px 0;
    padding: 15px;
    border-radius: 20px;
    background-color: #00000080;
    font-size: 2em;
    font-weight: 400;
    color: $highlight;
}

.to-home-error-button {
    font-weight: 700;
}