@use '../../../styles/index.module.scss' as *;

main {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-color: $background-secondary;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
}