@use '../../styles/index.module.scss' as *;

.tooltip-container {
    position: relative;

    .tooltip-content-wrapper {
        transition: box-shadow 0.5s ease;
    }

    .tooltip-tail {
        position: absolute;
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent;
        opacity: 90%;
        visibility: hidden;

        &.tooltip-position-top {
            bottom: calc(100% - 0.5rem);
            border-top-color: $background-secondary;
        }

        &.tooltip-position-right {
            left: calc(100% - 0.5rem);
            border-right-color: $background-secondary;
        }

        &.tooltip-position-bottom {
            top: calc(100% - 0.5rem);
            border-bottom-color: $background-secondary;
        }

        &.tooltip-position-left {
            right: calc(100% - 0.5rem);
            border-left-color: $background-secondary;
        }
    }

    .tooltip {
        position: absolute;
        max-width: 100%;
        padding: 0.6rem 1.2rem;
        border-radius: 0.5rem;
        background-color: $background-secondary;
        opacity: 90%;
        visibility: hidden;
        @include overflow-ellipses;

        &.tooltip-position-top {
            bottom: calc(100% + 0.5rem);
        }

        &.tooltip-position-right {
            left: calc(100% + 0.5rem);
        }

        &.tooltip-position-bottom {
            top: calc(100% + 0.5rem);
        }

        &.tooltip-position-left {
            right: calc(100% + 0.5rem);
        }
    }

    &:hover {
        .tooltip-content-wrapper {
            box-shadow: 0 0 10px rgba($text-label, 0.5);
        }

        .tooltip-tail,
        .tooltip {
            visibility: visible;
        }
    }
}