@use '../../../styles/index.module.scss' as *;

button.add-button {
    height: 2.5rem;
    aspect-ratio: 1/1;
    margin-left: 0.6rem;
    padding: 0;
    border: 2px solid $text-label;
    border-radius: 8px;
    background-color: $background-parchment;
    color: $text-label;
    font-size: 3rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $background-parchment-hover;
        transform: scale(1.1);
    }

    &:active {
        background-color: $background-parchment-active;
        transform: scale(1);
    }
}