@use './styles/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', 'Georgia', 'Times New Roman', serif;
}

body {
  color: $header-color;
}