@use '../../../../styles/index.module.scss' as *;

a {
    width: 300px;
    height: 30px;
    background-color: $background-primary;
    color: $text-buttons;
    text-align: center;

    &:hover {
        background-color: $background-paragraph;
        color: $text-label;
    }
}