@use '../../styles/index.module.scss' as *;

.home-page {
    width: 100%;

    .header-scroll {
        margin: 50px 0;

        .scroll-body {
            flex-direction: column;

            h1,
            h2,
            h3 {
                width: 100%;
                text-align: center;
                font-size: 4rem;
            }

            h2 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1.5rem;
            }

            p {
                padding: 1rem 0;
            }

            .links-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 50px;
                justify-content: center;
                align-items: center;

                .scroll {
                    height: 100%;

                    .scroll-body {
                        flex-grow: 1;

                        button {
                            background-color: $text-label;
                            font-weight: 700;
                            transition: background-color 0.3s ease, transform 0.2s ease;

                            &:hover {
                                background-color: $text-label-hover;
                                transform: scale(1.02);
                            }

                            &:active {
                                background-color: $text-label-active;
                                transform: scale(1.02);
                            }
                        }
                    }
                }
            }
        }
    }

    .coming-soon {
        margin-bottom: 50px;

        .scroll-body {
            flex-direction: column;

            li {
                margin: 10px 0;
            }

            span {
                font-weight: 700;
            }
        }
    }

    @include tablet {

        .header-scroll,
        .coming-soon {
            .scroll-body {
                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 2rem;
                }

                h3 {
                    font-size: 1rem;
                }

                span,
                li,
                p {
                    font-size: 0.8rem;
                }

                .links-container {
                    gap: 20px;
                }
            }
        }
    }

    @include phone {

        .header-scroll,
        .coming-soon {
            .scroll-body {
                h1 {
                    font-size: 2rem;
                }

                h2 {
                    font-size: 1.4rem;
                }

                h3 {
                    font-size: 0.8rem;
                }

                span,
                li,
                p {
                    font-size: 0.6rem;
                }

                .links-container {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, 1fr);
                    gap: 20px;
                }
            }
        }
    }
}