@use '../../styles/variables' as *;

.slider {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 10px 0;

    .slider-track {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 4px;
        background-color: $text-color;
        transform: translateY(-50%);

        .slider-range {
            position: absolute;
            top: 50%;
            height: 100%;
            background-color: $highlight;
            transform: translateY(-50%);
        }
    }

    .slider-thumb {
        position: absolute;
        top: 50%;
        width: 20px;
        aspect-ratio: 1/1;
        background-color: $highlight;
        border-radius: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        transition: left 0.1s ease-in-out;
    }

    .slider-values {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
        cursor: default;
    }

    .right-thumb {
        transform: translateX(-100%) translateY(-50%);
    }
}