@use '../../styles/index.module.scss' as *;

.snack {
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    background-color: $background-primary;
    color: $text-buttons;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.snack-fade-out {
    opacity: 0;
    transform: translateY(-70%);
}